.container {
  background-color: #282c34;
  /* max-height: 100vh; */
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.mobile {
  /* height: 914px; */
  width: 412px;
  background-color: #f8f8f8;
}

.exit-arrow {
  filter: invert(55%) sepia(74%) saturate(4473%) hue-rotate(168deg) brightness(101%) contrast(84%);
}

.footer {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.body {
  overflow: overlay;
}

.body-appliances {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}
